<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/adminmodule/AdminManageOrders.css">
    <link rel="stylesheet" href="/css/partialcss/AdminHeader.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>

<body>
    <%- include ../partials/AdminHeader.ejs %>
    <div class="container orders-list">
        <div class="row">
            <div class="col-lg-4">
                <h1 class="order-summary-heading">Order List</h1>
            </div>
        </div>
        <div class="row order-items-heading-container">
            <div class="col-lg-2">
                <h5 class="book-items-headings">Order Number</h5>
            </div>
            <div class="col-lg-2">
                <h5 class="book-items-headings">Customer Name</h5>
            </div>
            <div class="col-lg-1">
                <h5 class="book-items-headings">Count</h5>
            </div>
            <div class="col-lg-2">
                <h5 class="book-items-headings">Total Amount</h5>
            </div>
            <div class="col-lg-2">
                <h5 class="book-items-headings">Dispatched</h5>
            </div>
            <div class="col-lg-1">
                <h5 class="book-items-headings">Shipped</h5>
            </div>
        </div>
        <div class="order-items-container">
            <div class="row order-items-container-row">
                <div class="col-lg-2">
                    <p>2342132342</p>
                </div>
                <div class="col-lg-2">
                    <p>Himanshu Agarwal</p>
                </div>
                <div class="col-lg-1">
                    <p>6</p>
                </div>
                <div class="col-lg-2">
                    <p>$ 1432</p>
                </div>
                <div class="col-lg-2">
                    <input type="checkbox" id="dispatchCheckbox">
                </div>
                <div class="col-lg-1">
                    <input type="checkbox" id="shippedCheckox">
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-primary dispatch-slip" disabled id="shippedCheckox">Dispatch
                        Slip</button>
                </div>
            </div>
            <div class="row order-items-container-row">
                <div class="col-lg-2">
                    <p>2342132342</p>
                </div>
                <div class="col-lg-2">
                    <p>Himanshu Agarwal</p>
                </div>
                <div class="col-lg-1">
                    <p>6</p>
                </div>
                <div class="col-lg-2">
                    <p>$ 1432</p>
                </div>
                <div class="col-lg-2">
                    <input type="checkbox" id="dispatchCheckbox">
                </div>
                <div class="col-lg-1">
                    <input type="checkbox" id="shippedCheckox">
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-primary dispatch-slip" disabled id="shippedCheckox">Dispatch
                        Slip</button>
                </div>
            </div>
        </div>
        <button class="btn btn-primary update-status-btn">Update Status</button>
    </div>
    <script src="/js/jquery/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/js/partialjs/AdminHeader.js"></script>
    <script src="/js/adminmodule/AdminManageOrders.js"></script>
</body>

</html>