<header class="container container-header">
        <div class="row">
            <div class="col-xl-3">
                <div class="book-store-image-container">
                    <a href="/admin/home"><img src="/images/BookStoreImage.jpg" class="book-store-image" alt="BookStore"></a>
                </div>
            </div>
            <div class="col-xl-9">
                <nav class="nav-items-container">
                    <h5 class="welcome-title" id="welcomeTitle">Welcome Admin<span class="welcome-title-username"
                            id="welcomeTitleUsername"></span></h5>
                    <ul class="nav-items">  
                        <li class="nav-item"><a class="nav-links" href="/admin/logout">LOGOUT</a></li>
                        <li class="nav-item"><a class="nav-links" href="/admin/pages">MANAGE PAGES</a></li>
                        <li class="nav-item"><a class="nav-links" href="/admin/reports">MANAGE REPORTS</a></li>
                        <li class="nav-item"><a class="nav-links" href="/admin/orders">MANAGE ORDERS</a></li>
                        <li class="nav-item"><a class="nav-links" href="/admin/home">MANAGE INVENTORY</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>