<div class="col-xl-3 book-categories">
        <h2 class="book-categories-heading">Book Categories</h2>
        <div class="book-categories-list">
            <a class="book-categories-list-items" href="#Java" >Java</a>
            <a class="book-categories-list-items" href="#Software Engineering">Software Engineering</a>
            <a class="book-categories-list-items" href="#Internet">Internet</a>
            <a class="book-categories-list-items" href="#Web Development">Web Development</a>
            <a class="book-categories-list-items" href="#Microsoft .NET">Microsoft .NET</a>
            <a class="book-categories-list-items" href="#Programming">Programming</a>
            <a class="book-categories-list-items" href="#Client-Server">Client-Server</a>
            <a class="book-categories-list-items" href="#Business">Business</a>
            <a class="book-categories-list-items" href="#Computer Graphics">Computer Graphics</a>
            <a class="book-categories-list-items" href="#PowerBuilder">PowerBuilder</a>
            <a class="book-categories-list-items" href="#Microsoft">Microsoft</a>
            <a class="book-categories-list-items" href="#Python">Python</a>
            <a class="book-categories-list-items" href="#Object-Oriented Programming">Object-Oriented Programming</a>
            <a class="book-categories-list-items" href="#Networking">Networking</a>
            <a class="book-categories-list-items" href="#Theory">Theory</a>
            <a class="book-categories-list-items" href="#Perl">Perl</a>
            <a class="book-categories-list-items" href="#Mobile Technology">Mobile Technology</a>
            <a class="book-categories-list-items" href="#XML">XML</a>
        </div>
    </div>