<footer class="container container-footer">
    <div class="row footer-row">
        <a class="footer-link contact" href="/guest/contactus">Contact US<span class="divider">|</span></a>
        <a class="footer-link privacy" href="/guest/privacypolicy">Privacy Policy</a>
    </div>
</header>